body#body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7b488;
}


#logo-bar.jumbotron.jumbotron-fluid{
  font-family: 'East Sea Dokdo', cursive;;
  font-size: 60px;
  display:flex;
  margin: auto;
  background-color: white;
  height: 300px;
  background-image: url("images/beachy.png");
  background-image: 250px;
}

#catchphrase {
  margin:auto; 
  align-self:start;
}



/* view cart table */
#cart-table {
  /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

#cart-table td, #cart-table th {
  padding: 5px;
  text-align: center;
  width: 100px;
  /* border-bottom: 1px solid #ddd; */
}

#cart-table tr:hover {background-color: #ddd;}

#cart-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: Black;
}


#div-container {
  border-style: solid;
  border-color: #01233f;
  border-width: 5px;
  background: white;
  }


  #div-item-container {
      padding: 30px;
      margin: 30px;
      background: #dddddd;
  }

  .col-4 {
    text-align: center;
  }


/* divs for the show shirt page*/
  #div-item {
    border: solid;
    padding: 20px;
  }

  #div-info {
  /* background: white; */
  width: 410px;
  height: 648px;
  padding: 20px;
  
 } 

 #div-select {
  text-align:center;
 }


 .div-item {
    padding: 20px;
    border-style: solid;
    border-color: #01233f;
     border-width: 5px;
     margin: 30px;
     background: white;
 }

 .item-image {
  height: 200px;
  width:200px;
 }


 ul {
  list-style-type: none;
  padding: 2px;
}


 ul#horizontal-list {
  text-align: center;
  list-style-type: none;
}
ul#horizontal-list li {
  /* text-align: center; */
  display: inline;
  padding: 5px;
}


p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

h3 {
  color:01233f; 
  font-family: 'Rock Salt', cursive;
  
}

